.corpo{
    position: absolute;
    width: 450px;
    height: auto;
    color: #333;
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    padding: 15px;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 850px;
    z-index: 2;
}
img{
    width: 150px;
    height: 100px;
}