.fundo{
    width:100%;
    height:auto;
    background-color:aquamarine;
    display:flex;
}

.meio1{
    width:50%;
    height:700px;
    background-color:#A4003D;
}

.meio2{
    width:50%;
    height:700px;
    background-image: url("../img/credito.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.texthome{
   position: relative;
   color:white;
   font-size: 80px;
   left:200px;
}

.texthome2{
   position: relative;
   color:white;
   font-size: 30px;
   left:50px;
}